/* Estilo para a página de login */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    color: #017f63;
    margin-bottom: 20px;
}

.login-container form div {
    margin-bottom: 15px;
}

.login-container label {
    display: block;
    font-size: 14px;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #017f63;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #004a00;
}

/* Certifique-se de que não está afetando o header e footer */
.header, footer {
    z-index: 80; /* Para garantir que o header e footer fiquem visíveis */
    position: relative;
    width: 80;
}
footer {
    font-size: 14px;
    color: #b0bec5;
    padding: 20px;
    background-color: #017f63;
    text-align: center;
}

footer p {
    margin: 0 0 20px 0;
    color: #ffffff;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.social li {
    display: inline-block;
}

.social li img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social li img:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}