/* Estilo geral da página */
body {
    background-color: #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* Container principal para o formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

/* Título do formulário */
h1.jumbotron-heading {
    font-size: 2.5rem;
    color: #017f63; /* Ajustar para a cor principal da sua marca */
    margin-bottom: 40px;
}

/* Estilização do formulário */
form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-bottom: 50px;
}

/* Estilo dos campos de entrada */
.form-group {
    margin-bottom: 20px;
}

input.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input.form-control:focus {
    border-color: #017f63;
    outline: none;
    box-shadow: 0 0 8px rgba(1, 127, 99, 0.2);
}

/* Estilo dos rótulos (labels) */
label.col-form-label h5 {
    color: #555;
    font-weight: 500;
    margin: 0;
}

/* Botão de envio */
.btn-primary {
    background-color: #017f63; /* Ajuste para a cor desejada */
    border: none;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #015c4b; /* Cor mais escura para o hover */
    transform: translateY(-2px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .form-group.row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    label.col-form-label {
        margin-bottom: 8px;
    }
}
footer {
    font-size: 14px;
    color: #b0bec5;
    padding: 20px;
    background-color: #017f63;
    text-align: center;
}

footer p {
    margin: 0 0 20px 0;
    color: #ffffff;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.social li {
    display: inline-block;
}

.social li img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social li img:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
