body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #017f63;
    color: #ffffff;
}

.logo img {
    width: 100px;
    cursor: pointer;
}

.login-buttons {
    display: flex;
    gap: 10px;
}

.login-buttons a {
    color: #ffffff;
    background-color: #017f63;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 16px;
}

.login-buttons a:hover {
    background-color: #043d04;
}

.mission-vision-values {
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-color: #ffffff; /* Alterado para branco para melhor contraste */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid #017f63;
    position: relative; /* Garante que o conteúdo fique acima do fundo */
    z-index: 2;
}

.mission-vision-values header h1 {
    text-align: center;
    font-size: 36px;
    color: #017f63;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.mission, .vision, .values {
    background-color: #ffffff; /* Fundo branco para contraste */
    padding: 30px;
    border-radius: 8px;
    position: relative;
    color: #017f63; /* Mudando para verde para dar destaque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mission .image-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mission img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.mission .image-text p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.mission .text-content h2, .vision .text-content h2, .values .text-content h2 {
    margin: 0 0 15px;
    font-size: 28px;
    color: #017f63; /* Cor ajustada para combinar com o tema */
}

.mission .text-content p, .vision .text-content p, .values .text-content p {
    font-size: 18px;
    line-height: 1.6;
}

.values ol {
    padding-left: 20px;
}

.values li {
    margin-bottom: 10px;
}

.values li strong {
    color: #ffcc00;
}

.mission::before, .vision::before, .values::before, .mission::after, .vision::after, .values::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #f2c83b;
    border-radius: 50%;
}

.mission::before {
    top: -20px;
    left: -20px;
    background-color: #017f63;
}

.mission::after {
    bottom: -20px;
    right: -20px;
    background-color: #017f63;
}

.vision::before {
    top: -20px;
    right: -20px;
    background-color: #f2c83b;
}

.vision::after {
    bottom: -20px;
    left: -20px;
    background-color: #f2c83b;
}

.values::before {
    top: -20px;
    left: -20px;
    background-color: #017f63;
}

.values::after {
    bottom: -20px;
    right: -20px;
    background-color: #017f63;
}

footer {
    font-size: 14px;
    color: #ffffff;
    background-color: #017f63;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.social {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social li {
    display: inline-block;
}

.social li img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social li img:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Background for 'Missão, Visão e Valores' */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: url('../img/fundo.jpg') no-repeat center center/cover;
    position: relative;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Efeito de transparência */
    z-index: 1;
}

.mission-vision-values {
    position: relative;
    z-index: 2; /* Garantir que o conteúdo da seção fique acima do efeito de fundo */
    padding: 10px;
    text-align: center;
}

.mission-vision-values header h1 {
    color: #017f63;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.mission, .vision, .values {
    background-color: #ffffff; /* Fundo branco para garantir bom contraste */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mission h2, .vision h2, .values h2 {
    color: #017f63;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.mission p, .vision p, .values p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

.mission ol, .vision ol, .values ol {
    padding-left: 20px;
}

.mission img {
    max-width: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.mission .image-text {
    display: flex;
    align-items: center;
}

.mission .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .mission-vision-values {
        padding: 20px;
    }

    .section-content {
        flex-direction: column;
    }

    .mission, .vision, .values {
        padding: 15px;
    }

    .mission h2, .vision h2, .values h2 {
        font-size: 1.5em;
    }
}
