/* style-sobre.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #017f63;
    color: #ffffff;
}

.logo img {
    width: 100px;
    cursor: pointer;
}

.login-buttons {
    display: flex;
    gap: 10px;
}

.login-buttons a {
    color: #ffffff;
    background-color: #017f63;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 16px;
}

.login-buttons a:hover {
    background-color: #043d04;
}

.mission-vision-values {
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-color: #1f9235;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid #017f63;
}

.mission-vision-values header h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about, .goal, .team {
    background-color: #2d8a39;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about .image-text, .goal .text-content, .team .text-content {
    margin-bottom: 20px;
}

.about img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.about .image-text {
    display: flex;
    align-items: center;
}

.about .image-text p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.about .text-content h2, .goal .text-content h2, .team .text-content h2 {
    margin: 0 0 15px;
    font-size: 28px;
    color: #ffffff;
}

.about .text-content p, .goal .text-content p, .team .text-content p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    font-size: 14px;
    color: #ffffff;
    background-color: #017f63;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.social {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social li {
    display: inline-block;
}

.social li img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social li img:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Background for 'Sobre Nós' section */
.background-image-section {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
    color: #fff;
}

.background-image-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.background-image-section .content {
    position: relative;
    z-index: 2;
    text-align: center;
}
footer {
    font-size: 14px;
    color: #ffffff;
    background-color: #017f63;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.social {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social li {
    display: inline-block;
}

.social li img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social li img:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: url('../img/fundo.jpg') no-repeat center center/cover;
    position: relative;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Efeito de transparência */
}